.form {
  width: 480px;
  margin-top: 3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
