.form {
  width: 480px;
  margin: 3rem 0;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  max-width: 100%;
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}


@media screen and (max-width:380px) {
  .form {
    width: 300px;
    margin: 2rem 0;
  }
  
  .form-label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .form-textarea {
    width: 90%;
  }
  
  .form-input {
    margin-bottom: 1.5rem;
  }
}