.header {
  padding: 80px 80px;
  border-bottom: 1px solid #ccc;
}

.header-logo {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 0.5rem solid #000;
}

.header-content {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 1rem 0 0;
}

.header-illustration {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}
