.preview {
  width: 480px;
  margin-top: 3rem;
}

.preview-label {
  margin-bottom: 0.5rem;
}

.preview-content {
  background: #ffffff;
  box-shadow: 0px 30px 80px rgba(134, 158, 174, 0.15);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  justify-content: space-around;
  
  /* If text is long and/or no spaces, it won't stretch the div strangely */
  overflow-x: scroll; 
  min-height: 254px;
  margin-bottom: 1rem;
}

.preview-emoji {
  background: #FFFFFF;
  border: 8px solid #000000;
  box-sizing: border-box;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 5px;
}

.preview-feedback {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.25);
}

.preview-party {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.num-guests {
  color: rgba(0, 0, 0, 0.2);
  margin-right: 3px
}


@media screen and (max-width:380px) {
  .preview {
    width: 100vw;
    margin: 3rem .75rem;
  }
  
  .preview-label {
    margin-bottom: 0.5rem;
  }
  
  .preview-content {
    padding: 0.5rem 1rem;
    width: auto;
  }
  
  .preview-feedback {
    font-size: 1.25rem;
  }
}
 